<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Registro - Vivisport</title>
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <h1>Registrate</h1>
        <form id="registroForm">
            <input type="text" name="nombre" placeholder="Nombre" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" title="Solo letras"><br>
            <input type="text" name="segundo_nombre" placeholder="Segundo nombre" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" title="Solo letras"><br>
            <input type="text" name="apellido" placeholder="Apellido" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" title="Solo letras"><br>
            <input type="text" name="dni" placeholder="DNI (Sin puntos)" pattern="\d{8}" required title="DNI válido y sin puntos"><br>
            <button type="submit">Registrarse</button>
        </form>
    </div>
    <script>
    document.getElementById('registroForm').addEventListener('submit', async (e) => {
        e.preventDefault();

        const form = e.target;
        const datos = {
        nombre: form.nombre.value.trim(),
        segundo_nombre: form.segundo_nombre.value.trim(),
        apellido: form.apellido.value.trim(),
        dni: form.dni.value.trim()
        };

        try {
        const res = await fetch('/api/register', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(datos)
        });

        const data = await res.json();

        if (res.ok && data.redirect) {
            window.location.href = data.redirect;
        } else {
            alert(data.message || 'Error al registrar');
        }
        } catch (error) {
        console.error(error);
        alert('Error inesperado');
        }
    });
    </script>
</body>
</html>
